@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

@layer components {
  .form-control {
    background: theme('backgroundImage.lightGreyGradient');
    box-shadow: theme('boxShadow.shadowLight');
    padding: 0.75rem 0.9rem;
    border-radius: 0.4rem;
    width: 100%;
    font-size: 0.9rem;
    border: none;
    transition: 0.2s all ease-in;
  }

  .form-control:focus {
    outline: none;
    background: #e3e9f2;
    box-shadow: none;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .btn {
    border-radius: 0.4rem;
  }
}
